$fuente_principal: "Montserrat", sans-serif;

// Colores
$verde: #aec3b0;
$rosa: #124559;
$amarillo: #eff6e0;
$morado: #387187;
$negro: #01161e;
$blanco: #ffffff;

//Media Queries

$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;
